#form{
    display: flex;
    flex-direction: column;
    max-width: 15cm;
    margin: auto;
    border: 1px solid #090909;
    box-shadow: 2px 2px lightgray;
    padding: 5px;
}

.formRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input{
    margin: 5px;
}

input[type="checkbox"]{
    max-height: 1em;
}

button{
    margin: 5px;
}

select{
    margin: 5px;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}
